@inject HttpClient Http
@inject ISnackbar Snackbar
@using System.Net.Http.Headers
@inject ILocalStorageService localStorage
@inject NavigationManager Nav
@inject HttpClient httpClient

<MudDialog>
    <DialogContent>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <MudAutocomplete T="residents" Label="Search Resident" @bind-Value="_residents" Variant="Variant.Text" Margin="Margin.Dense"
                                     SearchFunc="@Search" ToStringFunc="@(e=> e==null?null : $"{e.fullname}")"  Strict="false">
                    </MudAutocomplete>
                    @if (_hide)
                    {
                        <MudTextField Clearable @bind-Value="@_residents.res_id" Label="Resident ID" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                        <MudTextField Clearable @bind-Value="@_residents.status" Label="Resident ID" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly="true"></MudTextField>
                    }
                    <MudTextField Clearable @bind-Value="@_residents.age" ReadOnly Label="Age" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                    <MudTextField Clearable @bind-Value="@_residents.citizenship"  ReadOnly Label="Citizenship" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                    <MudSelect @bind-Value="@_residents.civil"  ReadOnly Margin="Margin.Dense" T="string" Label="Status" Variant="Variant.Text">
                        <MudSelectItem Value="@("Single")" />
                        <MudSelectItem Value="@("Married")" />
                        <MudSelectItem Value="@("Widow")" />
                        <MudSelectItem Value="@("Seperated")" />
                    </MudSelect>

                    <MudSelect @bind-Value="@_residents.purok" ReadOnly Margin="Margin.Dense" T="string" Label="Purok" Variant="Variant.Text">
                        <MudSelectItem Value="@("Purok 1")" />
                        <MudSelectItem Value="@("Purok 2")" />
                        <MudSelectItem Value="@("Purok 3")" />
                        <MudSelectItem Value="@("Purok 4")" />
                        <MudSelectItem Value="@("Purok 5")" />
                        <MudSelectItem Value="@("Purok 6")" />
                        <MudSelectItem Value="@("Purok 7")" />
                        <MudSelectItem Value="@("Purok 8")" />
                        <MudSelectItem Value="@("Purok 9")" />
                    </MudSelect>
                </div>
                <div class="col-sm-6">

                    <MudTextField Clearable @bind-Value="@server.request"  Label="Request" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                    <MudTextField Clearable @bind-Value="@server.date" Label="Date" Variant="Variant.Text"
                                  Margin="Margin.Dense" InputType="InputType.Date" Format="yyyy-MM-dd"></MudTextField>
                  @*  <MudTextField Clearable @bind-Value="@server.fee" ReadOnly  Label="Fee" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>*@
                    <MudTextField Clearable @bind-Value="@server.receipt"  Label="Receipt #" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                    <br />
                    <MudToolBar>
                        <MudSpacer />
                        <MudButton Variant="Variant.Outlined" Size="Size.Medium" Color="Color.Primary" @onclick="Cancel">Cancel</MudButton>&nbsp;
                        <MudButton Variant="Variant.Outlined" Size="Size.Medium" Color="Color.Tertiary" @onclick="Save">Save</MudButton>
                    </MudToolBar>
                </div>
            </div>
        </div>
        <br />
        <br />
    </DialogContent>
</MudDialog>

@code {
    private bool _hide = false;
    private residents _residents { get; set; } = new residents();
    private async Task<IEnumerable<residents>> Search(string value)
    {

        HttpClient httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri($"{Nav.BaseUri}");
        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", await localStorage.GetItemAsStringAsync("token"));
        var residents = await httpClient.GetFromJsonAsync<List<residents>>($"api/Residents/SearchResidents?search={value}");
        return residents;

    }

    DateTime? date = DateTime.Today;
    [Parameter] public indigency server { get; set; } = new indigency();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override void OnInitialized()
    {
        server._fee = 75.00;
    }

    IList<IBrowserFile> files = new List<IBrowserFile>();
    public bool def { get; set; }
    private async void UploadFiles(IBrowserFile file)
    {
    }

    async Task clearImg()
    {
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private string GetId(string fname)
    {
        string Ramdom123456789 = new string(fname.Where(c => Char.IsLetterOrDigit(c)).ToArray());
        int hashCode = Ramdom123456789.GetHashCode();
        // Add a random number to ensure a unique clear_id
        int randomNumber = new Random().Next(1000, 9999);
        return $"{hashCode:X}{randomNumber}";
    }

    public async Task Save()
    {
        if (_residents.status == "Inactive")
        {
            Snackbar.Add($"Oppsss! Resident is Inactive!", Severity.Warning);
        }
        else
        {

            int i = 0;
            var xindigency = new indigency
            {
                type = server.type,
                indi_id = GetId(_residents.fname),
                res_id = _residents.res_id,
                request = server.request,
                date = server.date,
                fee = server.fee = "85",
                receipt = server.receipt,
                clerk = await localStorage.GetItemAsStringAsync("userid")
            };

            using (HttpClient client = new HttpClient())
            {
                client.BaseAddress = new Uri($"{Nav.BaseUri}");
                var json = JsonConvert.SerializeObject(xindigency);
                HttpContent content = new StringContent(json);
                content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
                client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", await localStorage.GetItemAsStringAsync("token"));
                HttpResponseMessage response = await client.PostAsync($"api/Indigency/AddIndigency", content);
                if (response.IsSuccessStatusCode)
                {
                    string contentresponse = await response.Content.ReadAsStringAsync();
                    i = JsonConvert.DeserializeObject<int>(contentresponse);
                    if (i > 0)
                    {
                        await InvokeAsync(async () =>
                        {
                            Snackbar.Add($"Done: Successfully Saved!", Severity.Success);
                            MudDialog.Cancel();
                            await InvokeAsync(StateHasChanged);
                        });
                    }
                }
                else
                {
                    await InvokeAsync(() =>
                    {
                        Snackbar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
                        StateHasChanged();
                    });
                }
            }
        }

    }
}